
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background:#f8f8f8;
    background-image: url("myback.png");
    background-repeat: repeat;
    height:100%;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #de615e;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #de615e; color: #fff; text-shadow: none; }
::selection { background: #de615e; color: #fff; text-shadow: none; }
.main_warp{
    /*background:#f8f8f8;*/
    width:100%; padding:3% auto;padding:2%;
    /*background-size: 100%;*/
/*    background-image: url("myback.png");
    background-repeat: repeat;*/
    
}


.hover_box1 #hexagon1{box-shadow: 0px 0px 40px #505050;}
.hover_box1 #hexagon2{box-shadow: 0px 0px 40px #505050;}
.hover_box1 #hexagon3{box-shadow: 0px 0px 40px #505050;}
.hover_box1 #hexagon4{box-shadow: 0px 0px 40px #505050;}
.hover_box1 #hexagon5{box-shadow: 0px 0px 40px #505050;}
.hover_box1 #hexagon6{box-shadow: 0px 0px 40px #505050;}
.hover_box1 #hexagon7{box-shadow: 0px 0px 40px #505050;}
.hover_box1 #hexagon8{box-shadow: 0px 0px 40px #505050;}



.hover_box1 #hexagon1:hover{box-shadow: 0px 0px 40px #000;}
.hover_box1 #hexagon2:hover{box-shadow: 0px 0px 40px #000;}
.hover_box1 #hexagon3:hover{box-shadow: 0px 0px 40px #000;}
.hover_box1 #hexagon4:hover{box-shadow: 0px 0px 40px #000;}
.hover_box1 #hexagon5:hover{box-shadow: 0px 0px 40px #000;}
.hover_box1 #hexagon6:hover{box-shadow: 0px 0px 40px #000;}
.hover_box1 #hexagon7:hover{box-shadow: 0px 0px 40px #000;}
.hover_box1 #hexagon8:hover{box-shadow: 0px 0px 40px #000;}
#hexagon1 {
	width: 200px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	transition:0.2s all linear;
	border-radius: 25px;
}

#hexagon1::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 45px solid #ffcf47;
	

}
#hexagon1::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 45px solid #fff;
}

#hexagon2 {
	width: 200px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	transition:0.2s all linear;
	border-radius: 25px;
}

#hexagon2::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 45px solid #ef5361;
	

}
#hexagon2::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 45px solid #fff;
}

#hexagon3 {
	width: 200px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	transition:0.2s all linear;
	border-radius: 25px;
}

#hexagon3::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 45px solid #9ed560;
	

}
#hexagon3::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 45px solid #fff;
}

#hexagon4 {
	width: 200px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	transition:0.2s all linear;
	border-radius: 25px;
}

#hexagon4::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 45px solid #599aee;
	

}
#hexagon4::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 45px solid #fff;
}


#hexagon5 {
	width: 200px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	transition:0.2s all linear;
	border-radius: 25px;
}

#hexagon5::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 45px solid #c45dff;
	

}
#hexagon5::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 45px solid #fff;
}


#hexagon6 {
	width: 200px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	transition:0.2s all linear;
	border-radius: 25px;
}

#hexagon6::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 45px solid #59bbf3;
	

}
#hexagon6::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 45px solid #fff;
}


#hexagon7 {
	width: 200px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	transition:0.2s all linear;
	border-radius: 25px;
}

#hexagon7::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 45px solid #f93797;
	

}
#hexagon7::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 45px solid #fff;
}


#hexagon8 {
	width: 200px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	transition:0.2s all linear;
	border-radius: 25px;
}

#hexagon8::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 45px solid #FF8800;
	

}
#hexagon8::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 45px solid #fff;
}

.top_strip1 {height: 30px;background: #ffcf47;position: absolute;top:0px;width: 100%;}
.shadow_strip1 {height: 5px;position: absolute;top: 31px;width: 100%;box-shadow: 0px -4px 4px #c99911;z-index:2;}
.bottom_strip1 {	height: 100px;background: #fff;	position: absolute;bottom: 0px;	width: 100%;z-index: 3;margin-top:10px;padding-top: 10px;}


.top_strip2 {height: 30px;background: #ef5361;position: absolute;top:0px;width: 100%;}
.shadow_strip2 {height: 5px;position: absolute;top: 31px;width: 100%;box-shadow: 0px -4px 4px #c03e4a;z-index:2;}
.bottom_strip2 {	height: 100px;background: #fff;	position: absolute;bottom: 0px;	width: 100%;z-index: 3;margin-top:10px;padding-top: 10px;}


.top_strip3 {height: 30px;background: #9fd661;position: absolute;top:0px;width: 100%;}
.shadow_strip3 {height: 5px;position: absolute;top: 31px;width: 100%;box-shadow: 0px -4px 4px #85b354;z-index:2;}
.bottom_strip3 {	height: 100px;background: #fff;	position: absolute;bottom: 0px;	width: 100%;z-index: 3;margin-top:10px;padding-top: 10px;}


.top_strip4 {height: 30px;background: #599aee;position: absolute;top:0px;width: 100%;}
.shadow_strip4 {height: 5px;position: absolute;top: 31px;width: 100%;box-shadow: 0px -4px 4px #4d81cb;z-index:2;}
.bottom_strip4 {	height: 100px;background: #fff;	position: absolute;bottom: 0px;	width: 100%;z-index: 3;margin-top:10px;padding-top: 10px;}


.top_strip5 {height: 30px;background: #c45dff;position: absolute;top:0px;width: 100%;}
.shadow_strip5 {height: 5px;position: absolute;top: 31px;width: 100%;box-shadow: 0px -4px 4px #9e39d8;z-index:2;}
.bottom_strip5 {	height: 100px;background: #fff;	position: absolute;bottom: 0px;	width: 100%;z-index: 3;margin-top:10px;padding-top: 10px;}


.top_strip6 {height: 30px;background: #59bbf3;position: absolute;top:0px;width: 100%;}
.shadow_strip6 {height: 5px;position: absolute;top: 31px;width: 100%;box-shadow: 0px -4px 4px #3a96ca;z-index:2;}
.bottom_strip6 {	height: 100px;background: #fff;	position: absolute;bottom: 0px;	width: 100%;z-index: 3;margin-top:10px;padding-top: 10px;}


.top_strip7 {height: 30px;background: #f93797;position: absolute;top:0px;width: 100%;}
.shadow_strip7 {height: 5px;position: absolute;top: 31px;width: 100%;box-shadow: 0px -4px 4px #c82073;z-index:2;}
.bottom_strip7 {	height: 100px;background: #fff;	position: absolute;bottom: 0px;	width: 100%;z-index: 3;margin-top:10px;padding-top: 10px;}


.top_strip8 {height: 30px;background: #FF8800;position: absolute;top:0px;width: 100%;}
.shadow_strip8 {height: 5px;position: absolute;top: 31px;width: 100%;box-shadow: 0px -4px 4px #d84315;z-index:2;}
.bottom_strip8 {	height: 100px;background: #fff;	position: absolute;bottom: 0px;	width: 100%;z-index: 3;margin-top:10px;padding-top: 10px;}


.box-head1{color:#cb8f07;}
.box-head2{color:#b23746;}
.box-head3{color:#6fa126;}
.box-head4{color:#2b6eba;}
.box-head5{color:#9e39d8;}
.box-head6{color:#3a96ca;}
.box-head7{color:#c82073;}
.box-head8{color:#FF8800;}





.hover_box1 p {line-height: 20px;font-size: 14px;padding: 7px;color:#a5a2a2;}



.icon1 {
	width: 34px;
	margin:0 auto ;
}
#hexagon_1 {
	width: 60px;
	height: 40px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	z-index: 3;
	box-shadow: 0px 0px 15px #bbb4b4;
	font-weight: bold;
	color: #ffcf47;
	font-size: 30px;
	line-height: 37px;
}
#hexagon_1::before {
	content: "";
	position: absolute;
	top: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 15px solid #fff;
}
#hexagon_1::after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 15px solid #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
#hexagon1 {
	width: 170px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	box-shadow: 0px 0px 10px #bbb4b4;
	border-radius: 25px;
}
#hexagon1::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-bottom: 45px solid #ffcf47;
}
#hexagon1::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-top: 45px solid #fff;
}
.shadow_strip1 {
	height: 10px;
	position: absolute;
	top: 31px;
	width: 100%;
	box-shadow: 0px -2px 2px #c99911;
	z-index: 2;
}
   
#hexagon2 {
	width: 170px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	box-shadow: 0px 0px 10px #bbb4b4;
	border-radius: 25px;
}
#hexagon2::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-bottom: 45px solid #ef5361;
}
#hexagon2::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-top: 45px solid #fff;
}
.shadow_strip2 {
	height: 10px;
	position: absolute;
	top: 31px;
	width: 100%;
	box-shadow: 0px -2px 2px #c03e4a;
	z-index: 2;
}
   
#hexagon3 {
	width: 170px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	box-shadow: 0px 0px 10px #bbb4b4;
	border-radius: 25px;
}
#hexagon3::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-bottom: 45px solid #9fd661;
}
#hexagon3::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-top: 45px solid #fff;
}
.shadow_strip3 {
	height: 10px;
	position: absolute;
	top: 31px;
	width: 100%;
	box-shadow: 0px -2px 2px #85b354;
	z-index: 2;
}
   
#hexagon4 {
	width: 170px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	box-shadow: 0px 0px 10px #bbb4b4;
	border-radius: 25px;
}
#hexagon4::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-bottom: 45px solid #599aee;
}
#hexagon4::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-top: 45px solid #fff;
}
.shadow_strip4 {
	height: 10px;
	position: absolute;
	top: 31px;
	width: 100%;
	box-shadow: 0px -2px 2px #4d81cb;
	z-index: 2;
}
 
   
#hexagon5 {
	width: 170px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	box-shadow: 0px 0px 10px #bbb4b4;
	border-radius: 25px;
}
#hexagon5::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-bottom: 45px solid #c45dff;
}
#hexagon5::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-top: 45px solid #fff;
}
.shadow_strip5 {
	height: 10px;
	position: absolute;
	top: 31px;
	width: 100%;
	box-shadow: 0px -2px 2px #9e39d8;
	z-index: 2;
}
 
   
#hexagon6 {
	width: 170px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	box-shadow: 0px 0px 10px #bbb4b4;
	border-radius: 25px;
}
#hexagon6::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-bottom: 45px solid #59bbf3;
}
#hexagon6::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-top: 45px solid #fff;
}
.shadow_strip6 {
	height: 10px;
	position: absolute;
	top: 31px;
	width: 100%;
	box-shadow: 0px -2px 2px #3a96ca;
	z-index: 2;
}
 
   
#hexagon7 {
	width: 170px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	box-shadow: 0px 0px 10px #bbb4b4;
	border-radius: 25px;
}
#hexagon7::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-bottom: 45px solid #f93797;
}
#hexagon7::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-top: 45px solid #fff;
}
.shadow_strip7 {
	height: 10px;
	position: absolute;
	top: 31px;
	width: 100%;
	box-shadow: 0px -2px 2px #c82073;
	z-index: 2;
}
 
   
#hexagon8 {
	width: 170px;
	height: 140px;
	background: #fff;
	position: relative;
	margin: 80px auto;
	box-shadow: 0px 0px 10px #bbb4b4;
	border-radius: 25px;
}
#hexagon8::before {
	content: "";
	position: absolute;
	top: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-bottom: 45px solid #e1d400;
}
#hexagon8::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-top: 45px solid #fff;
}
.shadow_strip8 {
	height: 10px;
	position: absolute;
	top: 31px;
	width: 100%;
	box-shadow: 0px -2px 2px #918800;
	z-index: 2;
}
 
  
}